/**
 *components.css
 *
 * /// - Mobile-First Approach -///
 *Index
 *
 * - Variables (17 - 50)
 * - Header (52 - 80)
 * - Main (82 - 154)
 * - Footer (156 - 195)
 * //
 * - Tablet-Version (197 - 277)
 * - Desktop-Version (279 - 342)
 *
 **/

/***
 * 
 * Variables
 *
***/

 :root {
    /* Typhography */

    /** Fonts */
    --ff-general: 'IBM Plex Sans', sans-serif;

    /*** Fonts-Maintitle*/
    --fs-maintitle-mobile: 2.5rem;
    --fs-maintitle-tablet: 4rem;
    --fs-maintitle-desktop: 6rem;
    --fw-maintitle: bold;
    --sp-maintitle: -1px;

    /*** Fonts-Subtitle*/
    --fs-subtitle: 2rem;
    --fw-subtitle: bold;
    
    /*** Fonts Body*/
    --fs-body: 1.25rem;
    --lh-body: 1.625rem;

    /* Colors */
    --clr-green: #66e2dc;
    --clr-red: #fa7453;
    --clr-yellow: #ffb964;
    --clr-light: #fcfaf9;
    --clr-dark: #191826; 
}

/***
 * 
 * Header
 *
***/

.header-container {
    padding-bottom: 10rem;
}

.logo-container-header {
    margin-top: 2rem;
}

.header-img {
    display: none;
}

.header-title {
    font-family: var(--ff-general);
    font-size: var(--fs-maintitle-mobile);
    font-weight: var(--fw-maintitle);
    margin-top: 3rem;
}

.header-description {
    font-family: var(--ff-general);
    font-size: var(--fs-body);
}

/***
 * 
 * Main
 *
***/

.main-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    border-radius: 10px;
    background-color: var(--clr-dark);
}

.main-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0.5rem;
    background: url(../assets/bg-pattern-2.svg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 80%;
    height: 100%;
    width: 100%;
}

.main-img--mobile {
    margin: 0 auto;
    transform: translateY(-8rem);
    width: 55%;
}

.card {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: var(--clr-red);
    border-radius: 10px;
    border: none;
    padding: 2rem;
}

.card-title {
    font-family: var(--ff-general);
    font-size: var(--fs-subtitle);
    font-weight: var(--fw-subtitle);
    margin-bottom: 1rem;
    color: var(--clr-light);
}

.card-text {
    font-family: var(--ff-general);
    font-size: var(--fs-body);
    color: var(--clr-light);
    line-height: var(--lh-body);
}

.card-pricing {
    font-family: var(--ff-general);
    font-size: var(--fs-body);
    color: var(--clr-light);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.card-pricing--big {
    font-family: var(--ff-general);
    color: var(--clr-light);
    font-weight: bold;
    font-size: 3rem;
}

/***
 * 
 * Footer
 *
***/

.footer-container {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 5rem;
}

.logo-container-footer {
    margin-top: 4rem;
    margin-bottom: 2rem;
}

.information-container {
    margin-bottom: 2rem;
}

.legal-information {
    margin-bottom: 0.1rem;
}

.email {
    display: block;
    text-decoration: none;
    color: var(--clr-dark);
    font-weight: bold;
}

.social-container {
    display: flex;
}

.social-icon-link ~ a {
    padding-left: 1rem;
}

/***** Tablet-Version *****/

@media (min-width: 768px) {

    /*--Header--*/

    .text-container {
        margin-top: 4rem;
        margin-bottom: 5.5rem;
        max-width: 500px;
    }

    .header-title {
        font-size: var(--fs-maintitle-tablet);
        margin-bottom: 2rem;
    }

    .header-img {
        display: block;
        position: absolute;
        right: -2rem;
        top: -2rem;
    }

    /*--Main--*/

    .main-container {
        padding-bottom: 0;
        margin-bottom: 1rem;
    }

    .main-container::before {
        top: 2.5rem;
        left: 11rem;
        background-size: 50%;
        height: 100%;
        width: 80%;
    }
    
    .main-img--mobile {
        margin-left: 2rem;
        transform: translateY(-11rem);
        width: 55%;
    }
    
    .card {
        position: absolute;
        width: 55%;
        top: 16rem;
        right: 2rem;
        padding: 3rem;
    }

    /*--Footer--*/

    .footer-container {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 2rem;
    }

    .logo-container-footer {
        flex-basis: 40rem;
        margin-top: 4rem;
    }

    .information-container {
        max-width: 400px;
    }

    .email {
        display: inline;
    }

    .social-container {
        flex-basis: 10rem;
        padding-top: 2rem;
        height: 20%;
    }
}

/***** Desktop-Version *****/

  @media (min-width: 1440px) {

    /*--Header--*/

    .header-container {
        margin-bottom: 4rem;
    }

    .header-title {
        font-size: var(--fs-maintitle-desktop);
        width: 1000px;
    }

    .text-container {
        max-width: 800px;
    }

    /*--Main--*/

    .main-container::before {
        top: 5rem;
        left: 20.5rem;
        background-size: 50%;
        height: 100%;
        width: 50%;
    }

    .main-img--mobile {
        margin-left: 11rem;
        transform: translateY(-15rem);
        width: 30%;
    }

    .card {
        position: absolute;
        width: 35%;
        top: 14rem;
        right: 8rem;
        padding: 5rem;
    }

  }

@media (min-width: 1200px) {
    
    /*--Footer--*/

    .footer-container {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 4rem;
    }

    .logo-container-footer {
        flex-basis: 0;
        margin-top: 0;
    }

    .social-container {
        flex-basis: 0;
    }
 }