/**
 *custom.css
 *
 *Index
 * - 
 *
 **/

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    /* Typhography */

    /** Fonts */
    --ff-general: 'IBM Plex Sans', sans-serif;

    /*** Fonts-Maintitle*/
    --fs-maintitle: 5.5rem;
    --fw-maintitle: bold;
    --lh-maintitle: 5.5rem;
    --sp-maintitle: -1px;

    /*** Fonts-Subtitle*/
    --fs-subtitle: 2.5rem;
    --fw-subtitle: bold;
    --lh-subtitle: 3.25rem;
    
    /*** Fonts-body-large*/
    --fs-body-large: 1.25rem;
    --lh-body-large: 2.125rem;

    /*** Fonts-body-small*/
    --fs-body-large: 1rem;
    --lh-body-large: 1.625rem;

    /* Colors */
    --clr-green: #66e2dc;
    --clr-red: #fa7453;
    --clr-yellow: #ffb964;
    --clr-light: #fcfaf9;
    --clr-dark: #191826; 
}

body {
    background-image: url('assets/bg-main-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

